apiVersion: v1
kind: Secret
metadata:
  name: kafka-client-cert
  namespace: fluent-bit
type: Opaque
data:
  ca-cert.pem: CA_CERT_BASE64
  cert-signed.pem: CERT_SIGNED_BASE64
  private-key.pem: PRIVATE_KEY_BASE64
