apiVersion: v1
kind: Secret
metadata:
  name: kafka-broker-secrets
  namespace: kafka
type: Opaque
data:
  kafka.broker.truststore.jks: TRUSTSTORE_BASE64
  kafka.broker.keystore.jks: KEYSTORE_BASE64
  truststore-creds: PASSWD_BASE64
  keystore-creds: PASSWD_BASE64
  key-creds: PASSWD_BASE64
